{% extends 'NileadWebBundle:Backend:layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'sylius.shipping_category.index_header'|trans|raw }}</h1>
    </div>

{% endblock %}
